<template name="search_widget">
    {{#if Template.subscriptionsReady}}
        <div class="row">
            <div class="large-3 columns">
                <select id="sltCategories">
                    {{#each browseNodes}}
                        <option value="{{_id}}">{{text}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="large-9 columns">
                <input class="" id="txtKeyword" type="text" placeholder="Search">
            </div>
        </div>
        {{> Template.dynamic template=searchResult.name data=searchResult.data}}
        <div id="hasPagination"></div>
    {{else}}
        {{> data_loading}}
    {{/if}}
</template>

<template name="search_default"></template>

<template name="s_grid_view">
    {{#if searchResult.isFound}}
        <div class="row">
            <div class="large-12 columns">
                <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
                    {{#each searchResult.data.items}}
                        {{#if title}}
                            <li>
                                <div class="panel clearfix">
                                    <div class="thumbnail">
                                        <img src="{{thumbnail}}" alt="{{title}}"/>
                                    </div>
                                    <br>
                                    <a href="/dp/{{asin}}">{{shortTitle}}</a>
                                </div>
                            </li>
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    {{/if}}
</template>

<template name="s_list_view">
    {{#if searchResult.isFound}}
        <div class="row">
            <div class="large-12 columns">
                <ul class="no-bullet">
                    {{#each searchResult.data.items}}
                        {{#if title}}
                            <li class="panel list_item">
                                <div class="row">
                                    <div class="medium-2 columns text-center">
                                        <a href="/dp/{{asin}}">
                                            <img src="{{thumbnail}}" alt="{{title}}" width="160" height="160"/>
                                        </a>
                                    </div>
                                    <div class="medium-10 columns">
                                        <div class="row">
                                            <div class="medium-12 columns"><a href="/dp/{{asin}}">{{shortTitle}}</a></div>
                                            <div class="medium-7 columns">
                                                <span class="s-price a-color-price a-text-bold">{{price}}</span>
                                                <br/>
                                                <span class="a-text-bold">{{truncateCategory category}}</span>
                                            </div>
                                            <div class="medium-5 columns">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    {{/if}}
</template>

<template name="search_notFound">
    <div class="row">
        <div class="large-12 columns">
            <h3>Không tìm thấy sản phẩm nào, xin thử lại...</h3>
        </div>
    </div>
</template>

<template name="pagination">
    {{#if pages}}
    <div class="row">
        <div class="medium-1 columns">
            <select name="sltPages" id="sltPages">
                {{#each pages}}
                    <option value="{{value}}">{{text}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    {{/if}}
</template>