<template name="home">
    {{> search_widget}}
    {{#if isReady 'front_browseNodes'}}
        {{> Template.dynamic template=browseNodes.name data=browseNodes.data}}
    {{else}}
        {{> data_loading}}
    {{/if}}
</template>

<template name="browseNodes_3">
    <div class="row">
        <div class="large-4 columns">
            <ul class="no-bullet">
                {{#each browseNodes 1}}
                    <li>
                        <a href="{{href}}" data-tooltip aria-haspopup="true" class="has-tip" data-options="show_on:large" title="{{text2}}">
                            <i class="fa fa-tags"></i> {{text2}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="large-4 columns">
            <ul class="no-bullet">
                {{#each browseNodes 2}}
                    <li>
                        <a href="{{href}}" data-tooltip aria-haspopup="true" class="has-tip" data-options="show_on:large" title="{{text2}}">
                            <i class="fa fa-tags"></i> {{text2}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="large-4 columns">
            <ul class="no-bullet">
                {{#each browseNodes 3}}
                    <li>
                        <a href="{{href}}" data-tooltip aria-haspopup="true" class="has-tip" data-options="show_on:large" title="{{text2}}">
                            <i class="fa fa-tags"></i> {{text2}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</template>

<template name="browseNodes_list">
    <div class="row">
        <div class="large-12 columns">
            <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-3 no-bullet">
                {{#each browseNodes}}
                    <li>
                        <a href="{{href}}" data-tooltip aria-haspopup="true" class="has-tip" data-options="show_on:large" title="{{text2}}">
                            <i class="fa fa-tags"></i> {{text2}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</template>