<template name="home">
    <div class="container">
        <div class="row">
            <div class="input-field col s3">
                <select>
                    <option value="" selected>Tất cả</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
            </div>
            <div class="input-field col s9">
                <input id="icon_prefix" type="text" class="validate" placeholder="Search">
            </div>
        </div>
    </div>
</template>