nav.top-bar{
    margin-bottom: 10px;
}

ul#list_items li{
    padding-bottom: 5px !important;
}

ul#list_items .panel{
    margin-bottom: 5px !important;
}

.list_item{
    margin-bottom: 10px !important;
    border: none !important;
    padding: 10px !important;
}

.s-price {
    font-size: 14px !important;
}
.a-text-bold {
    font-weight: 700 !important;
}

.a-color-price {
    color: #b12704 !important;
}